.bg-img{
    background-image: url(../asset/back1.jpg);
    
    background-size: 100%;
    height: 800px;
}
.bg-opaque{
    background-color: rgba(0, 0, 0, 0.527);
    position: absolute;
    z-index: 5;
    height: 800px; 
}
.text-green {
   
    color: rgb(42, 250, 125);
  }
  .text-orange{
    color: rgb(230, 115, 0); 
  }