@font-face {
  font-family: Roboto;
  src: url("./Component/font/Roboto-Regular.ttf");
}

/* @font-face {
  font-family: AlteHaasGroteskRegular;
  src: url("./Component/font/AlteHaasGroteskRegular.ttf");
} */

.App {
  text-align: center;
  overflow-x: hidden;
  font-family: 'Roboto';
  /* background-image: linear-gradient(to right, #fafcfe, #ecf4fd ); */
background-color: #fafcff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.demo{
  height: 300px;
}
.text-blue{
  color: #001a33;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text-orange {
  color: "rgb(230, 115, 0)";
}
.bg-orange {
  background-color: "rgb(230, 115, 0)";
}
